/* Estilo para la barra lateral (Sidebar) */
[data-testid="stSidebar"] {
    background-color: #ffffff;
    border-right: 1px solid #e2e8f0;
}

/* Estilo de los botones de radio en el menú */
[data-testid="stSidebar"] .stRadio > div {
    background-color: transparent !important;
    padding: 0 !important;
    gap: 10px;
}

/* Cambiar color del texto seleccionado en el menú */
[data-testid="stSidebar"] label {
    color: #475569 !important;
    font-weight: 500 !important;
    cursor: pointer;
}
